@charset "utf-8";
@font-face{font-family:"Open Sans Light";src:url("fonts/OpenSans-Light.ttf") format("truetype")}
@font-face{font-family:"Kelson Sans Regular";src:url("fonts/kelson_sans_regular_ru.ttf") format("truetype")}
@font-face{font-family:"Kelson Sans Bold";src:url("fonts/kelson_sans_bold_ru.ttf") format("truetype")}
@font-face{font-family:"PF Agora Serif Pro";src:url("fonts/pfagoraserifpro-black.ttf") format("truetype")}
@font-face{font-family:"PF Agora Slab Pro";src:url("fonts/PFAgoraSlabPro-Reg.ttf") format("truetype")}
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px/24px "Trebuchet MS",Calibri,sans-serif;padding-top:70px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.left{float:left}
.right{float:right}
.clear{clear:both}
button,.splash{cursor:pointer}
.animated{opacity:0;transition:1s all}
.animated.scroll{opacity:1}

section,footer,header{clear:both}
main{width:960px;position:relative;margin:0 auto}

#splash{position:fixed;z-index:10;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.8) center center no-repeat;background-size:contain;display:none}

.countdown{height:130px}
.countdown:before{content:"до конца акции:";display:block;color:white;font-size:16px;text-align:center;text-transform:lowercase}
.countdown span{display:inline-block;width:60px;line-height:60px;font-size:44px;font-weight:normal;color:white;border-right:1px solid #eef;text-align:center;position:relative;margin:0 3px;font-family:"Open Sans Light"}
.countdown span:last-child{border:none;color:#00d2ff}
.countdown span:after{color:snow;display:block;text-align:center;font-size:16px;background:none;bottom:-20px;line-height:16px;font-weight:normal;position:absolute;left:0;right:0;text-transform:lowercase}

.slider{position:relative;margin:0 auto}
.slider div{position:absolute;top:0;bottom:0;background:center center no-repeat;left:0;width:0;transition:0.6s all}
.slider div.showed{width:100%;right:0;left:auto}

#hided{background:none;display:none;height:auto}
#hided main{text-align:center;height:auto;position:fixed;z-index:12;background:rgba(0,0,0,.8);left:0;right:0;top:16%;border-radius:10px}
#hided form{display:block;margin:10px;color:white;border-radius:8px;padding:10px;border:1px solid #eee}

nav{background:#1c1b19;text-align:center;position:fixed;left:0;width:100%;z-index:5;display:inline-block;top:0}
nav a{display:inline-block;color:white;font:17px "Open Sans Light";text-decoration:none;padding-top:25px;margin-left:33px;height:45px}
nav a:first-child{margin-left:0}

header{height:885px;background:url('img/fon1.jpg') center top no-repeat;position:relative}
header main{position:relative}
header p{font:bold 30px "Kelson Sans Bold";text-align:left;color:#2d2d2d;padding-top:30px}
header main>button{font:bold 20px "Kelson Sans Bold";text-align:left;color:#2d2d2d;text-decoration:underline;border:none;outline:none;background:none;text-transform:uppercase}
header h1{font:bold 55px "Kelson Sans Bold";text-align:left;color:white;margin-top:80px}
header h1 span{background:#2d2d2d;text-transform:uppercase;padding:0 5px}
form{text-align:center;width:100%;background:rgba(0,0,0,0.7);padding:40px 0;position:absolute;bottom:0}
form h3{font:normal 25px "Kelson Sans Regular";color:white;text-transform:uppercase;padding-bottom:10px}
form input{display:inline-block;width:320px;height:40px;border:none;background:white;color:black;font:normal normal 18px "Open Sans Light";padding:0 10px;margin:0 5px}
form button{display:inline-block;font:normal 16px "Kelson Sans Regular";color:white;text-transform:uppercase;background:#f09e0a;border:none;outline:none;padding:0 40px;box-shadow:0 2px 0 #c87b05;height:38px;margin-left:15px}

#autors{background:white}
#autors main{text-align:center}
#autors h2{color:black;font:30px/32px "Open Sans Light";padding-top:75px;padding-bottom:40px}
#autors div{display:inline-block;text-align:center;margin-top:30px;padding:0 20px}
#autors h3{color:#1a1f25;font:65px "Open Sans Light"}
#autors hr{background:#f09e0a;width:30px;height:6px;border:none;outline:none;margin:20px auto}
#autors h4{color:black;font:18px "PF Agora Serif Pro"}
#autors p{color:black;font:16px "Open Sans Light";margin-top:30px}
#autors button{font:normal 20px "Kelson Sans Regular";color:white;text-transform:uppercase;background:#f09e0a;border:none;outline:none;padding:0 40px;box-shadow:0 4px 0 #c87b05;height:46px;display:block;margin:50px auto}

.form{height:1045px;position:relative}
.form main>h3{color:white;text-align:right;font:normal 60px/60px "Kelson Sans Regular";text-transform:uppercase;padding-top:256px}
.form main>h4{color:white;text-align:right;font:normal 40px/40px "Kelson Sans Regular";text-transform:uppercase}
.form main>h5{color:white;text-align:right;font:normal 30px/30px "Kelson Sans Regular";text-transform:uppercase}
#form1{background:url('img/fon2.jpg') center top no-repeat}
#form2{background:url('img/fon8.jpg') center top no-repeat}

#get{background:white;padding:40px}
#get h2{color:#2b2b2b;text-align:left;font:bold 75px "Kelson Sans Regular";text-transform:uppercase;padding:60px 0 30px 0}
#get div{height:354px;margin:8px auto;width:944px;background-color:#f29f00;background-position:center left;background-repeat:no-repeat}
#get h3{color:white;text-align:left;font:bold 130px "Kelson Sans Regular";display:inline-block;padding-top:100px;margin-left:565px}
#get p{color:white;text-align:left;font:normal 18px "Kelson Sans Regular";display:inline-block;text-transform:uppercase;padding-left:10px}
#get div:nth-child(odd){background-position:center right}
#get div:nth-child(odd) h3{margin-left:35px}
#get div:nth-child(2){background-image:url('img/b1.jpg')}
#get div:nth-child(3){background-image:url('img/b2.jpg')}
#get div:nth-child(4){background-image:url('img/b3.jpg')}
#get div:nth-child(5){background-image:url('img/b4.jpg')}
#get div:nth-child(6){background-image:url('img/b5.jpg')}

.example{color:#2d2d2d;font:17px "Open Sans Light"}
.example h3{font-size:25px;padding-bottom:15px}
#ex1{position:relative;height:752px;background:white}
#ex1 .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:0;right:50%;background:url(img/fon3.jpg) right center no-repeat}
#ex1 .right{float:none;display:block;position:absolute;top:0;bottom:0;right:0;left:50%;background:white}
#ex1 h2{font:45px "Open Sans Light";text-transform:uppercase;margin-left:30px;margin-top:70px}
#ex1 h2 span{font:60px "Kelson Sans Regular"}
#ex1 h3{margin-left:30px;margin-top:40px}
#ex1 p{margin-left:30px}

#ex2{position:relative;height:643px;background:white}
#ex2 .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:25%;right:50%;background:white}
#ex2 .right{float:none;display:block;position:absolute;top:0;bottom:0;right:0;left:50%;background:url(img/fon4.jpg) left center no-repeat}
#ex2 h3{margin-top:100px}

#ex3{position:relative;height:752px;background:white}
#ex3 .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:0;right:50%;background:url(img/fon5.jpg) right center no-repeat}
#ex3 .right{float:none;display:block;position:absolute;top:0;bottom:0;right:0;left:50%;background:white}
#ex3 h3{margin-left:30px;margin-top:115px}
#ex3 h3{margin-left:30px;margin-top:115px}
#ex3 p{margin-left:30px}

#problems{background:url(img/fon6.jpg) top center no-repeat;height:1278px;}
#problems h2{color:white;text-transform:uppercase;font:bold 60px "Kelson Sans Bold";text-align:left;padding:430px 0 40px 0;text-align:right;}
#problems article{background:white;width:375px;padding:25px 0 5px 25px;margin-bottom:35px;}
#problems h4{margin-top:-8px;color:black;text-transform:uppercase;font:normal 20px "Kelson Sans Regular";background:#f7bb23;float:left;padding:7px;}
#problems ul{clear:both;padding-top:5px;}
#problems li{color:black;font:13px "Open Sans Light";list-style-type:square;list-style-position:inside;padding:13px 0;}
#problems li.markNone{list-style:none;}
#problems li.paddingTop0{padding-top:0;}
#problems div{clear:both;text-align:center;background:#f7bb23;margin:0 140px 0 140px;padding:25px 0 20px 0;}
#problems h5{color:black;text-transform:uppercase;font:normal 35px "Kelson Sans RU Regular";}
#problems p{font:19px "Open Sans Light";color:black;}
#problems span.nebache{text-decoration:line-through;}
#problems span.bache{font:normal 25px "Kelson Sans Regular";color:white;}


#priceTime{height:842px;background:url(img/fon7.jpg)no-repeat top center}
#priceTime img{position:absolute;left:20px;top:30px}
#priceTime div{text-align:center;z-index:12;width:580px;height:670px;background:url(img/romb.png)no-repeat center 80px;margin-left:190px;padding-top:180px}
#priceTime h2{font:55px "PF Agora Slab Pro"; color:white;line-height:2px;padding-top:15px;padding-bottom:40px}
#priceTime h2 span{font:75px "PF Agora Serif Pro";color:#00ccff}
#priceTime h3{font:35px "PF Agora Slab Pro";color:white}
#priceTime h3 span{font-size:55px;color:#00ccff}
#priceTime article{font:20px "PF Agora Slab Pro";color:white;}
#priceTime article span{font:50px "PF Agora Serif Pro";color:#00ccff;line-height:25px}
#priceTime .left  {float:none;display:block;position:absolute;top:500px;bottom:0;left:20%;right:50%}
#priceTime .right{float:none;display:block;position:absolute;top:500px;bottom:0;right:20%;left:50%}


#pay{height:340px;background-color:white;background:url(img/cash.jpg)no-repeat bottom center}
#pay h2{;font:30px "Open Sans Light";background:url(img/money.png)no-repeat center left;padding-left:115px;margin:85px 0 0 180px}

#comments{height:695px;background:white;font:15px "Open Sans Light"}
#comments h2{text-align:center;text-transform:uppercase;font:50px "Kelson Sans Bold";padding-top:20px;margin-bottom:540px}
#comments .left  {float:none;display:block;position:absolute;top:160px;bottom:0;left:0;right:50%}
#comments .right{float:none;display:block;position:absolute;top:160px;bottom:0;right:0;left:50%}
#comments .left h3{background:url(img/p1.jpg)no-repeat top left}
#comments .right h3{background:url(img/p2.jpg)no-repeat top left}
#comments h3{height:156px;padding:20px 0 0 166px;font-size:17px}
#comments h3 span{font-size:23px}
#comments button{font:normal 20px "Kelson Sans Regular";color:white;text-transform:uppercase;background:#f09e0a;border:none;outline:none;padding:0 40px;box-shadow:0 4px 0 #c87b05;height:46px;display:block;margin:50px auto;cursor:pointer;}

#scheme{position:relative;height:800px;}
#scheme .left  {float:none;display:block;position:absolute;top:0;bottom:0;left:0;right:50%;background:url(img/pero.jpg) no-repeat bottom right}
#scheme .right{float:none;display:block;position:absolute;top:0;bottom:0;right:15%;left:50%;background:url(img/shagi.png) no-repeat center left}
#scheme h2{font:30px "Open Sans Light";margin:95px 0 45px 100px}
#scheme p{margin-left:100px;font:15px "Open Sans Light";padding-bottom:85px}
#scheme p:nth-child(odd){text-align:right;margin-right:110px}

footer{background:#1b1b1b}
footer h2{color:white;font:bold 50px "Kelson Sans Regular";text-align:center;padding-top:70px;text-transform:uppercase}
footer form{position:relative;background:none;padding-bottom:115px;padding-top:20px}
footer h3{padding-bottom:30px}
